---
import { AlertButton, H1 } from '@/components'
import App from '@/_app/index.astro'

const alertText = 'WARNING: you have been warned.'
---

<App title="Hello Astro">
  <main>
    <H1>Hello Astro</H1>
    <AlertButton client:visible alertText={alertText}>
      Do not click me
    </AlertButton>
  </main>
</App>
